@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");
body {
  font-family: "Vazirmatn", sans-serif;
}
.icon{
    color: #0d6efe;
    background-color: #ebeafb;
    display: inline-flex;
    padding:15px;
    border-radius: 15px;
}
